
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <style>
              body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(https://ak8.picdn.net/shutterstock/videos/31218658/thumb/1.jpg);
 width: 100%;
 height: 100%;
 font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
 font-weight: 400;
 -webkit-font-smoothing: antialiased; 
 
}
                nav{
                    background-color: #086486;
                    padding: 20px 10px;
                }
                
                nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
                }
                nav li{
                    list-style-type: none ;
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
                nav a{
                    display: block;
                    padding: 10px;
                    font-size: 18px;
                    color: bisque;
                    background: rgb(32, 113, 142);
                    text-decoration: none;
                }
                .img{
                    float: left;
                    margin-left: 5px;
                    margin-top: -19px;

                }
               .google-btn{
                    font-size: 18px;
                    padding: 10px;
                    text-decoration: none;
                    background-color: rgb(31, 9, 110);
                    color: antiquewhite;
                }
                main ,header{
                    max-width: 960px;
                    margin: 30px auto;
                    padding: 0 10px;
                    color:aliceblue;
                    
                }
                .username{
                    margin-left: 380px;
                    color: aliceblue;
                }
 
               
             </style>
    </head>
    <body>
            <nav>
                    <ul>
                        <li><a href="/">HomePage</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li class='username'> <%= user.displayName %></li>
                        <li> <img class="img" src= <%= user.photos[0].value %> alt="Profile" height="60" width="60"> <br/></li>
                    </ul>
                </nav>
                <header>
                    <h1>Logged in as Facebook User</h1>
                    
                </header>
                <main>
                    <p class="p1">
                        <img src= <%= user.photos[0].value %> alt="Profile" height="128" width="128"> 
                        <h2>  Username: <%= user.displayName %></h2>
                          <% if (user.emails) { %>
                          Email: <%= user.emails[0].value %><br/>
                          User ID : <%= user.id %><br/>
                        
                       <% } %>
                        </p>
                        <p>
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                           
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkhkjhkjhhhhhhhhhhhhhhhjk
                            yttttttttttttttttttttttttttttttttttttttttttttttuyttttttttttttttttttrtdddddddddd
                            iiiiigggggggggggggggyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyf
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                            gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                        </p>
                </main>

               

    </body>
</html>