<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <link href="/css/profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <nav>
                    <ul>
                        <li><a href="/">HomePage</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li class='username'> <%= user.displayName %></li>
                        <li> <img class="img" src= <%= user.photos[0].value %> alt="Profile" height="60" width="60"> <br/></li>
                    </ul>
                </nav>
                <header>
                    <h1>Logged in as Facebook User</h1>
                    
                </header>
                <main>
                    <p class="p1">
                        <img src= <%= user.photos[0].value %> alt="Profile" height="128" width="128"> 
                        <h2>  Username: <%= user.displayName %></h2>
                          <% if (user.emails) { %>
                          Email: <%= user.emails[0].value %><br/>
                          User ID : <%= user.id %><br/>
                        
                       <% } %>
                        </p>
                        <p>
                            <h2>OAuth2</h2>
                            OAuth stands for Open Authorization. 
                            OAuth is an authorization framework which allows 
                            applications to obtain limited access to user accounts on an HTTP service,
                            such as Facebook, GitHub, DigitalOcean and Google. OAuth is widely used on web. 
                            Also OAuth provides authorization flows for desktop applications and mobile devices. 
                            Currently OAuth has two versions. OAuth 1.0 and Oauth 2.0 are the two versions.
                            
                        </p>
                        <p>
                           <h2> Roles in OAuth Framework</h2>
                            
                            
                            <ul>
                                <li>Client</li>
                                <li> Resource application</li>
                                <li> Resource server</li>
                                <li>Authorization server</li>
                            </ul>
                                
                            <p>

                                <h3>Resource Server</h3>
                                Hosting the protected resources is the main task of resource server, 
                                resource server has a capability to accept and respond to protected 
                                resource which requests using access tokens.

                              <h3> Client Application</h3>
                                Client is an application. Which is making protected resource 
                                requests on behalf of the resource owner and with its 
                                authorization.


                                <h3>Authorization Server</h3>

                                Authorization server is a server which is issuing access tokens 
                                to the client after authenticating the resource owner and obtaining 
                                authorization.

                                <h3>   Resource Owner / User</h3>

                                resource owner is an entity which has ability to grant access to a 
                                resource. Resource owner can be a person, then we can mention 
                                that resource owner as an end-user.

                            </p>
                            
                                
                            
                            
                                
                            
                            
                            
                        </p>
                </main>

    </body>
</html>